<div class="container">
  <mat-card *ngFor="let index of [0, 1, 2, 3, 4, 5]">
    <mat-card-header>
      <mat-card-title-group>
        <div class="icon-flex">
          <span>Date</span>
          <mat-card-title>{{ hourly[index] }}</mat-card-title>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="date_range"
          ></mat-icon>
        </div>
        <div class="icon-flex">
          <mat-card-subtitle>Temperature</mat-card-subtitle>
          <div class="icon">
            <span>{{ temperatures[index] }} ℃</span>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="thermostat"
            ></mat-icon>
          </div>
        </div>
        <div class="icon-flex">
          <mat-card-subtitle>Windspeed </mat-card-subtitle>
          <div class="icon">
            <span>{{ windSpeed[index] }} km/h</span>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="air"
            ></mat-icon>
          </div>
        </div>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
</div>


